---
layout: base
---
<nav class="navbar navbar-expand-md navbar-dark bg-success shadow-sm sticky-top">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/{% if page.lang == 'en' %}en{% endif %}">
            <img src="/img/soi.png" alt="{{ site.data[page.lang].logo }} {{ site.data[page.lang].site_name }}" height="40" class="me-2">
            <b>
                {{ site.data[page.lang].site_name }}
            </b>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left Side Of Navbar -->
            <ul class="navbar-nav me-auto">
                
            </ul>

            <!-- Right Side Of Navbar -->
            <ul class="navbar-nav ms-auto">
                {% assign min_tst_year = site.data.tst.min_year %}
                {% assign max_tst_year = site.data.tst.max_year %}
                
                <li class="nav-item"><a class="nav-link {% if page.id == 'participations' %} active {% endif %}" href="{% if page.lang != site.data.build.primary_lang %}/{{ page.lang }}{% endif %}/participations">{{ site.data[page.lang].participations }}</a></li>
                <li class="nav-item"><a class="nav-link {% if page.id == 'olympiads' %} active {% endif %}" href="{% if page.lang != site.data.build.primary_lang %}/{{ page.lang }}{% endif %}/olympiads">{{ site.data[page.lang].olympiads }}</a></li>
                <!-- <li class="nav-item"><a class="nav-link {% if page.id == 'calendar' %} active {% endif %}" href="/en/calendar">{{ site.data[page.lang].calender }}</a></li> -->
                <li class="nav-item"><a class="nav-link {% if page.id == 'halloffame' %} active {% endif %}" href="{% if page.lang != site.data.build.primary_lang %}/{{ page.lang }}{% endif %}/hall-of-fame">{{ site.data[page.lang].hall_of_fame }}</a></li>
                <li class="nav-item dropdown debug-only">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ site.data[page.lang].exams }}</a>
                    <ul class="dropdown-menu">
                        {% for i in (min_tst_year..max_tst_year) %}
                        <li><a class="dropdown-item" href="{% if page.lang != site.data.build.primary_lang %}/{{ page.lang }}{% endif %}/tst/{{ i }}">{{ i }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link {% if page.id == 'members' %} active {% endif %}" href="{% if page.lang != site.data.build.primary_lang %}/{{ page.lang }}{% endif %}/members/">{{ site.data[page.lang].members }}</a></li>
                <li class="nav-item"><a class="nav-link {% if page.id == 'images' %} active {% endif %}" href="{% if page.lang != site.data.build.primary_lang %}/{{ page.lang }}{% endif %}/images">{{ site.data[page.lang].images }}</a></li>
                <li class="nav-item"><a class="nav-link {% if page.id == 'contact' %} active {% endif %}" href="{% if page.lang != site.data.build.primary_lang %}/{{ page.lang }}{% endif %}/contact">{{ site.data[page.lang].contact }}</a></li>

                <li class="nav-item">
                    <!-- TODO: Make this automatic if the website supports multiple languages -->
                    {% if page.lang == "ar" %}
                    <button class="nav-link" onclick="switchLanguage('en')" class="btn btn-outline-success">EN</a>
                    {% else %}
                    <button class="nav-link" onclick="switchLanguage('ar')" class="btn btn-outline-success">عربي</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>

{{ content }}

<script>
if (getCookie('debugger') == 'iReadTheSource') {
    document.querySelectorAll('.debug-only').forEach(div => {
        div.classList.remove('debug-only');
        div.classList.remove('d-none');
    });
}
</script>