---
layout: default
---

<div class="row">
    <div class="col">
        <h1>{{ page.exam.name }}</h1>
        {% if page.exam.date %}
        <h2>{{ page.exam.date }}</h2>
        {% endif %}
        {% if page.exam.url %}
        <h3><a href="{{ page.exam.url }}">Upsolve link</a></h2>
        {% endif %}
    </div>
</div>

<table class="table table-striped table-bordered" sortable>
    <thead>
        <th width="5%">#</th>
        <th sort-value="string">{{site.data[page.lang].name}}</th>
        <th sort-value="num" sort-state="desc" width="5%" class="text-center">{{site.data[page.lang].sum}}</th>
        {% for probidx in (1..page.exam.problems.count) %}
        <th sort-value="num" width="10%" class="text-center">{{ page.exam.problems[probidx] }}</th>
        {% endfor %}
    </thead>
    <tbody>
        {% for usr in page.exam.participants%}
        <tr>
            <td>{{ forloop.index }}</td>
            <td>
                {% assign uid = usr[0] %}
                <a href="{%if page.lang=="en"%}/en{%endif%}/members/{{ uid }}">
                    {{ page.names[uid] }}
                </a>
            </td>
            <td class="text-center"><b>{{ page.sums[uid] | round: 3 }}</b></td>
            {% for idx in (1..page.exam.problems.count) %}
            <td class="text-center">{{ page.exam.participants[uid][idx] | round: 3 }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<script src="/resources/modal_settings.js"></script>
<script src="/resources/sortable.js"></script>