---
layout: default
---
{% if page.lang == 'ar' %}
<h1>{{ page.olympiad.arname }} ({{ page.olympiad.id | upcase }})</h1>
{% else %}
<h1>{{ page.olympiad.enname }} ({{ page.olympiad.id | upcase }})</h1>
{% endif %}

<table class="table table-bordered">
    <thead>
        <th width="5%">Year</th>
        <th>Participant</th>
        {% for p in (1..page.olympiad.problems_count) %}
        <th width="5%">P{{p}}</th>
        {% endfor %}
    </thead>
    <tbody>
        {% for i in (1..page.olympiad.participations.count) %}
            {% for s in page.olympiad.participations[i].participants %}
            <tr style="background-color: var(--medal-{{s[1]}}) !important;">
                {% if forloop.index == 1 %}
                <td class="text-center" style="vertical-align: middle;" rowspan="{{ page.olympiad.participations[i].participants.size }}">
                    <a href="{% if page.lang != site.data.build.primary_lang %}{{ page.lang }}/{% endif %}/olympiads/{{page.olympiad.id}}/{{ page.olympiad.participations[i].year }}">{{ page.olympiad.participations[i].year }}</a>
                </td>
                {% endif %}
                {% assign id = s[0] %}
                <td style="background-color: inherit;">
                    <a href="/{% if page.lang != site.data.build.primary_lang %}{{ page.lang }}/{% endif %}members/{{id}}">{{id}}</a>
                </td>
            
                {% for k in (1..page.olympiad.problems_count) %}
                <td style="background-color: inherit;">{{ page.olympiad.participations[i].scores[id][k] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>