---
layout: default
---

<div class="row mt-3 justify-content-end">
    <h2>
        {% if page.lang == "en" %}  
            {{ page.olympiad_enname }} 
        {% else %}
            {{ page.olympiad_arname }}
        {% endif %}

        ({{ page.olympiad | upcase }})
    </h2>
</div>
<div class="row">
    <div class="col-sm-12 col-md-3 p-1">
        <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{site.data[page.lang].start}}: {{ page.start_date }}</li>
                <li class="list-group-item">{{site.data[page.lang].end}}: {{ page.end_date }}</li>
                <li class="list-group-item">
                    {{site.data[page.lang].host_country}}: {% if page.lang == "ar" %}{{ page.country_arname }}{% else %}{{ page.country_enname }}{% endif %}
                    {% if page.online %}
                    <span class="badge bg-secondary">{{site.data[page.lang].online}} 🌐</span>
                    {% endif %}
                </li>
                {% if page.website %}
                <li class="list-group-item">
                    {{site.data[page.lang].website}}: 
                    <a dir="ltr" href="{{ page.website }}">{{ page.website | remove_first: "https://" | remove_first: "http://" }}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 p-1">
        <table sortable class="table table-bordered">
            <thead>
                <th width="5%">#</th>
                <th sort-value="string">{{ site.data[page.lang].name }}</th>

                {% if page.scores %}
                    {% assign tmp = page.scores | first %}
                    {% assign pcnt = tmp[1].count %}
                    {% for p in (1..pcnt) %}
                    <th sort-value="num" width="5%">P{{p}}</th>
                    {% endfor %}
                    <th sort-value="num" width="5%">{{ site.data[page.lang].sum }}</th>
                {% endif %}
            </thead>
            <tbody>
                {% for i in (1..page.participants.count) %}
                <tr style="background-color: var(--medal-{{ page.participants[i].award }}) !important;">
                    {% assign uid = page.participants[i].id | plus: 0 %}
                    <td class="text-center" style="background-color: inherit;">{{ i }}</td>
                    <td style="background-color: inherit;">
                        <a href="/{% if page.lang != site.data.build.primary_lang %}{{ page.lang }}/{% endif %}members/{{ uid }}">{{ page.participants[i].name }}</a>
                    </td>
                    {% assign sum = 0 %}
                    {% if page.scores %}
                        {% for p in (1..pcnt) %}
                        <td style="background-color: inherit;">{{ page.scores[uid][p] }}</th>
                        {% assign sum = sum | plus: page.scores[uid][p]  %}
                        {% endfor %}
                    {% endif %}
                    <td style="background-color: inherit;"><b>{{ sum | round: 2 }}</b></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script src="/resources/sortable.js"></script>